html {
  font-family: "Red Hat Display", sans-serif;
  font-size: 62.5%;
}

body {
}

.peoples {
}

.hero {
  fill: #000;
  height: 17rem;
}

.hero1 {
  background: url("../assets/desktop/image-hero-left.png") no-repeat;
  background-size: contain;
}

.hero2 {
  background: url("../assets/desktop/image-hero-right.png") no-repeat;
  background-size: contain;
}

.title {
  font-size: 4rem;
  line-height: 4.4rem;
  font-weight: bold;
  text-align: center;
}

.description {
  font-size: 2rem;
  color: #87879d;
  line-height: 2.6rem;
}

.btn {
  font-size: 1.6rem;
  border-radius: 30px;
  width: 19.3rem;
  padding: 1.3rem;
  border: none;
}

.download {
  background: #4d96a9;
  color: #fff;
}

.whatisit {
  background: #855fb1;
  color: #fff;
  width: 15rem;
}

.download > span {
  color: #8fe3f9;
}

.gallery img {
  width: 100%;
  border-radius: 15px;
}

.line {
  transform: rotate(90deg) translateX(-3rem);
  margin-top: 5rem;
  background-color: #87879d;
  color: #87879d;
  height: 1px;
}

.number {
  border: 1px solid #c7ced6;
  padding: 1.4rem;
  border-radius: 50%;
  position: relative;
  margin-top: 5rem;
  background: #fafafa;
}

.number::after {
  content: "";
  border: 1px solid lightgrey;
  position: absolute;
  width: 68px;
  height: 1px;
  transform: rotate(90deg) translateY(39px) translateX(-49px);
}

.my-10 {
  margin-top: 10rem;
}

.title1 {
  color: #4d96a9;
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 2.6rem;
  word-spacing: 0.4rem;
}

.description1 {
  color: #28283d;
  font-size: 3.2rem;
  line-height: 3.6rem;
}

.description2 {
  color: #87879d;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.footer {
  background-image: radial-gradient(
      rgba(77, 150, 169, 0.9),
      rgba(77, 150, 169, 0.9)
    ),
    url(../assets/desktop/image-footer.jpg);
  background-repeat: no-repeat;
  height: 35rem;
  background-size: cover;
  background-position: center;
  margin-top: -11rem;
  text-align: center;
}

.footer .experience {
  color: #fafafa;
  font-size: 3.2rem;
  line-height: 3.6rem;
  margin-top: 7rem;
  display: block;
}

.footer .experience-description {
  color: #fafafa;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

@media screen and (min-width: 768px) {
  .hero {
    fill: #000;
    height: 30rem;
  }
}
